<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dambry</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">
  </head>
<body style="display:flex; flex-direction:column; height:100vh;">
    <%- include('common/header'); -%>
    <main class="container" style="flex: 1 0 auto;">
      <div class="text-center">
        <p class="blog-header-logo text-dark">Recommenders</p>
      </div>

      <div class="text-center">
        <p class="mb-1 text-muted text-dark">Recommenders are people or groups who contribute to the site.</p>
      
      <% if(user) { %>
        <a href="/add-recommender"class="btn btn-outline-primary" style="margin-bottom: 10px;margin-top:10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
           Create new recommender
        </a>
        <% } %>
      
      </div>

      


      <div class="row col-md-8 col-md-offset-2 custyle mx-auto">
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Contributions</th>
                    <th>Type</th>
                    <% if(user) { %>
                    <th>Join </th>
                    <%}%>
                </tr>
                <% recommenders.forEach(recommender => { %>
                <tr>
                    <td> <%= recommender.name %></td>
                    <td> <%= recommender.num_reviews %></td>
                    <td> <%= recommender.recommender_type %></td>
                    <% if (user) { %>
                    <td> 
                      <a class="btn btn-sm btn-outline-primary" 
                      href="/user/join/<%= recommender.id %>">
                      Join 
                    </a>
                    <%}%>


                    </td>
                </tr>
                <%})%>
            </thead>
        </table> 
        </div>
    
    
    </main>
    <%- include('common/footer') -%>
</body>
</html>










